.main-header
  .main-header__left-side
    %h2.current-group
      groupname
    %ul.member-list
      Member：
      %li.member membername
  =link_to "#", class: "edit-link" do
    .main-header__edit-btn Edit
.messages
  - @messages.each do |message|
    .message{"data-message-di": "#{message.id}"}
      .message__talker-info
        .talker-name
          = message.user.name
        .date
          = message.created_at.strftime("%Y/%m/%d %H:%M")
      .message-text
        - if message.content.present?
          %p.lower-message__content
            = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
.form
  = form_for [@group, @message], id: "new_message" do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'