.main-header
  .main-header__left-side
    %h2.current-group
      groupname
    %ul.member-list
      Member：
      %li.member membername
  =link_to "#", class: "edit-link" do
    .main-header__edit-btn Edit
.messages
  .message
    .message__talker-info
      %p.talker-name talkername
      %p.date 2019/06/16(Sun) 19:14:53
    %p.message-text hogehoge
.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'