.chat-side
  .side-header
    .user-box
      %p.user-box__user-name
        = current_user.name
      %ul.user-box__menu
        %li.menu__new-group
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'menu-btn'
        %li.menu__edit-user
          =link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'menu-btn'
  .groups
    = render "./module/group"
